<div class="bottom-container">
    <a class="footer-link" href="#">Instagram</a>
    <a class="footer-link" href="#">Facebook</a>
    <a class="footer-link" href="#">Twitter</a>
    <p class = "credit">© 2019 Ryan Duffy</p>
</div>
</html>