<div class="bottom-container">
    <a class="footer-link" href="https://www.instagram.com/F.E.W.K/">Instagram</a>
    <a class="footer-link" href="#">Facebook</a>
    <a class="footer-link" href="https://twitter.com/Fergus_W_K">Twitter</a>
    <p class = "credit">© 2019 Ryan Duffy</p>
</div>
</html>