<%- include("partials/header")-%>

<body>
<div class="jumbotron">
    <h2>Get in Contact! </h2>
    <p class="lead">Check out my social media below to get in contact; or fill out the form to send me an email.</p>
    <p>I'd love to hear about any opportunities for me to use me art and would love to help out.</p>
    <hr class="my-4">
    <p class = "social"><u>Social Media Links:</u></p>
</div>
    <div class="container">

        <div class="row">
            <div class="social-media col "><img src="images/Other/iconmonstr-facebook-4-240.png" class="img-fluid" alt="Responsive image"/></div>
            <div class="social-media col"><img src="images/Other/iconmonstr-instagram-11-240.png" class="img-fluid" alt="Responsive image"/></div>
            <div class="social-media col"><img src="images/Other/iconmonstr-twitter-1-240.png" class="img-fluid" alt="Responsive image"></div>
        </div>
</div>
<hr class="my-4">

<p class = "social-2"><u>Email me Below:</u></p>
<div class = "contact-me-container">
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">First name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col md-6 mb-6">
                <label for="validationTextarea">Subject:</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Subject" value="Re: Art..." required>
            </div>
        </div>
        <div class="form-row">
            <div class="col md-6 mb-6">
                <label for="validationTextarea">Textarea</label>
                <textarea class="form-control" id="validationTextarea" placeholder="Hi Fergus, </n> .. " required></textarea>
            </div>
            </div>
        <button class="btn btn-dark" type="submit">Send Email</button>
    </form>

</div>

</body>


<%- include("partials/footer")-%>
