<%- include("partials/header")-%>

<body>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <p class="lead text-muted">Check out some of my art below and click one of the below links to contact me or buy some of my available merch! </p>
            <p>Yo Fergus: Some other feature ideas outside of this website: are a link to <b>Pareon</b> as well as a mailing list using <b>MailChimp</b> and their API</p>
            <p>Could have like a popup box when a new user enters the site asking to sgn up to mailing list or to send some money to pateron</p>
            <p>
                <a href="/Store" class="btn btn-dark my-2">Store</a>
                <a href="/Contact_Me" class="btn btn-secondary my-2">Contact Me</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                       <img class = "gallery-img" src="images/Art/Art/1. PinkB, BlackC, WhiteOL.jpg"/>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                <!--<small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/Cave Troll.jpg"/>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>

                                </div>
                                <!--<small class="text-muted">9 mins</small> -->
                            </div>

                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/3 of 3.jpg"/>
                              <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                </div>
                                <!--<small class="text-muted">9 mins</small> -->

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/Goofy.jpg"/>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                </div>
                                <!--<small class="text-muted">9 mins</small> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/Jpeg Square.jpg"/>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                </div>
                                <!--<small class="text-muted">9 mins</small> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/2.jpg"/>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                </div>
                                <!--<small class="text-muted">9 mins</small> -->

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/square.jpg"/>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                </div>
                                <!--<small class="text-muted">9 mins</small> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/Mickey.jpg"/>
                               <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                </div>
                                <!--<small class="text-muted">9 mins</small> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class = "gallery-img" src="images/Art/Art/Donald.jpg"/>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Store</button>
                                </div>
                                <!--<small class="text-muted">9 mins</small> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
        <p class="float-right">
            <a href="#">Back to top</a>
</body>


<%- include("partials/footer")-%>
