<%- include("partials/header")-%>

<body>
<h1 class = "store-header">Stay Tuned to F.E.W.K for Merchandise!</h1>
<div class = "img-container">
<img class ="coming-soon" src ="images/Other/coming-soon.jpg" alt ="Something went wrong">
</div>
</body>


<%- include("partials/footer")-%>
